/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/ 
body,html{
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 300;
background-color: #000;
color: #fff;
}
.wrapper{
overflow: hidden;
display: flex;
flex-direction: column;
min-height: 100%;
}
.main{
flex: 1 1 auto;
}
[class*="__container"]{
max-width: 1200px;
margin: 0 auto;
padding: 0 15px;
}
.header {
	margin-top: 20px;
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 40px;
		flex-wrap: wrap;
		@media (max-width: 620px){
			margin-top: 15px;
			justify-content: center;
			flex-direction: column;
			flex-wrap: nowrap;
			row-gap: 15px;
		}
	}

	&__logo {
		img {
			fill: #fff;
		}
	}
}
.nav {
	&__list {
		display: flex;
		gap: 20px;
		padding: 0 20px;
	}

	&__item {
		white-space: nowrap;
	}

	&__link {
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		color: #fff;
		position: relative;
		&:after {
		content: "";
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 0;
		border-radius: 5px;
		height: 2px;
		transition: width 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		background-color: #fff;
		}
		&:hover::after{
		opacity: 1;
		width: 100%;
		}
	}
}
.smallnav {
	&__list {
		display: flex;
		gap: 20px;
	}
	&__link {
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		color: #808080;
		position: relative;
		transition: all 0.3s ease 0s;
		&:hover{
			color: #fff;
		}
		&:after {
		content: "";
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 0;
		border-radius: 5px;
		height: 2px;
		transition: width 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		background-color: #808080;
		}
		&:hover::after{
		opacity: 1;
		background-color: #fff;
		width: 100%;
		}
	}
}
.main {
	&__content {
		margin-top: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		@media (max-width: 768px){
			margin-top: 40px;
		}
	}

	&__title {
		font-weight: 400;
		font-size: 64px;
		line-height: 75px;
		@media (max-width: 768px){
			font-size: 48px;
			line-height: 40px;
		}
		@media (max-width: 620px){
			font-size: 32px;
			line-height: 40px;
		}
	}

	&__subtitle {
		margin-top: 25px;
		font-weight: 300;
		font-size: 16px;
		line-height: 140%;
		max-width: 270px;
		text-align: center;
		text-transform: lowercase;
		@media (max-width: 768px){
			font-size: 14px;	
		}
	}
	&__arrow{
		margin-top: 25px;
		width: 1px;
		height: 59px;
		background-color: #fff;
		position: relative;
		z-index: 2;
		@media (max-width: 768px){
			height: 48px;
		}
		@media (max-width: 620px){
			margin-top: 20px;
		}
	}
	&__img{
		margin-top: -20px;
		max-width: 100%;
		perspective: 700px;
		height: auto;
		img {
			width: 100%;
			height: auto;
			transition: all 5s ease 0s;
			&:hover{
				transform: rotateX(45deg);
			}
		}
		@media (max-width: 768px){
			margin-top: -20px;
		}
	}
}
.script {
	display: flex;
	justify-content: space-between;
	align-items: center;
		@media (max-width: 800px){
			display: block;
		}
	&__left-block {
		width: 600px;
		@media (max-width: 800px){
			width: 100%;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 140%;
		text-transform: uppercase;
		@media (max-width: 620px) {
			font-size: 20px;
			line-height: 100%;
		}
	}

	&__table {
		margin-top: 45px;
		margin-bottom: 200px;
		max-width: 500px;

		@media (max-width: 800px){
			max-width: none;
			margin-bottom: 100px;
		}
		@media (max-width: 620px){
			margin-top: 25px;
			margin-bottom: 50px;
		}
	}

	&__name-block {
		display: flex;
		justify-content: space-between;
		row-gap: 10px;
	}

	&__name {
		font-weight: 400;
		font-size: 18px;
		line-height: 179.69%;
	}

	&__value {
		font-weight: 400;
		font-size: 18px;
		line-height: 179.69%;
		span {
			color: #B2B0B2;
		}
	}

	&__text {
		margin-top: 45px;
		font-weight: 400;
		font-size: 16px;
		line-height: 29px;	
		max-width: 500px;
		@media (max-width: 800px){
			max-width: none;
		}
		@media (max-width: 620px){
			margin-top: 25px;
		}	
	}

	&__right-block {
		width: 600px;
		@media (max-width: 800px){
			width: 100%;
		}
		img {
			width: 100%;
			height: auto;
			transition: all 8s ease 0.3s;
		}
		&:hover{
			img{
				transform: translateY(-400vh);
			}
		}
	}
}
.footer {
	margin-top: 80px;
	margin-bottom: 60px;
	@media (max-width: 610px){
		margin-top: 20px;
		margin-bottom: 40px;
	}

	&__contact {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__media {
		margin-top: 40px;
		display: flex;
		gap: 20px;
		@media (max-width: 610px){
			flex-wrap: wrap;
		}
		@media (max-width: 580px){
			justify-content: center;
		}
	}

	&__media-link {
		a {
			font-weight: 400;
			font-size: 18px;
			line-height: 21px;
			color: #fff;	
			position: relative;
			&:after {
			content: "";
			position: absolute;
			bottom: -2px;
			border-radius: 5px;
			left: 0;
			width: 0;
			height: 2px;
			transition: width 0.3s ease 0s;
			transition: all 0.3s ease 0s;
			background-color: #ffffff9f;
			}
			&:hover::after{
			opacity: 1;
			width: 100%;
			}
		}
	}

	&__email {
		margin-top: 25px;
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		color: #808080;
		@media (max-width: 580px){
			text-align: center;
		}
	}
	&__contact {
		margin-top: 30px;		
	}
	&__contact-link{
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		color: #FFFFFF;
		padding: 20px 80px;
		border: 2px solid #FFFFFF;
		border-radius: 6px;
		transition: all 0.3s ease 0s;
		&:hover{
			background-color: #ffffffe5;
			color: #000;
		}
	}
}
